# ============================
#    OPERATING SYSTEM FILES
# ============================
# macOS
.DS_Store
# Windows
Thumbs.db
ehthumbs.db

# ============================
#     IDE / EDITOR FILES
# ============================
.vscode/
*.code-workspace

# ============================
#        ENV FILES
# ============================
# Environment variables
.env
.env.*.local

# ============================
#       PYTHON (Flask)
# ============================
# Byte-compiled / optimized
__pycache__/
*.py[cod]
*$py.class

# Virtualenvs
venv/
env/
.venv/
ENV/

# Distribution / packaging
build/
dist/
eggs/
*.egg-info/
pip-wheel-metadata/

# Test / coverage
.coverage
.coverage.*
.pytest_cache/
htmlcov/

# Flask instance folder
instance/
.webassets-cache

# SQLite DB files
*.sqlite3
*.db

# Celery
celerybeat-schedule
celerybeat.pid

# ============================
#        NODE (Vue.js)
# ============================
# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Production build
dist/
build/

# ============================
#          MISCELLANEOUS
# ============================
# Logs and temporary files
*.log
*.tmp

# Caches
.cache/
